.searchbox {
  border: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbox button {
  border: 1px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbox button:hover {
  background-color: purple;
  color: white;
}
